In [19]:
age = 34
price = 30
name = "Tamil"
is_student = True

print(f"Value: {age}, Type: {type(age)}")
print(f"Value: {price}, Type: {type(price)}")
print(f"Value: {name}, Type: {type(name)}")
print(f"Value: {is_student}, Type: {type(is_student)}")

Value: 34, Type: <class 'int'>
Value: 30, Type: <class 'int'>
Value: Tamil, Type: <class 'str'>
Value: True, Type: <class 'bool'>

In [17]:
a = int(input("Enter the number"))
b = float(input("Enter the decimal"))
sum = a+b
Multiple = a*b
Divide = a/b
print(f"{sum}, {Multiple}, {Divide}")

Enter the number 22
Enter the decimal 1.3

23.3, 28.6, 16.923076923076923

In [25]:
Language = input("Enter your favourite programming language")
Experience = input('Enter your level of experience (Beginner, intermediate)')
print(f"You are a {Language} in {Experience}")

Enter your favourite programming language python
Enter your level of experience (Beginner, intermediate) Beginner

You are a python in Beginner

In [29]:
x = input("Enter a number")
y = int(x)
z = float(y)
print(f'First input: {x}, Convert to int: {y} , {type(y)}, Convert to float: {z},{type(z)}')

Enter a number 12

First input: 12, Convert to int: 12 , <class 'int'>, Convert to float: 12.0,<class 'float'>

In [33]:
user= input("Enter your name: ")
print(f'Hello, {user}! Welcome to Python programming.')

Enter your name:  Dhanush

Hello, Dhanush! Welcome to Python programming.

In [1]:
input_line = input("Enter the three numbers seperated by spaces: ")
number_strings = input_line.split()
num1 = int(number_strings[0])
num2 = int(number_strings[1])
num3 = int(number_strings[2])

avg = (num1+num2+num3)/3
print(f"The average is: {avg:.2f}")

Enter the three numbers seperated by spaces:  1 10 20

The average is: 10.33

In [ ]:
user_input = input("Enter an integer: ")

try:
    number = int(user_input)
    print(f"successfully converted the input {number}")
except ValueError:
    print("Could not convert!")